{% comment %} Load Current Site URL Template Tag from Robots App {% endcomment %}{% load current_site_url %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Character set -->
        <meta charset="utf-8" />

        <!-- Page Meta Data -->
        <meta name="author" content="" />
        <meta name="description" content="{% block metadescription %}{% endblock %}" />
        <meta name="keywords" content="{% block metakeywords %}{% endblock %}" />
        
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width; initial-scale=1" /> 

        <!-- Facebook Meta Data -->
        {% comment %}
            
            Facebook Graph API 
            https://developers.facebook.com/docs/opengraph/objects/builtin/
            
            Debug
            https://developers.facebook.com/tools/debug
            
        {% endcomment %}
        <meta property="og:site_name" content="" />
        <meta property="fb:admins" content="" />
        <meta property="og:title" content="{% block fb_title %}{% endblock %}" />
        <meta property="og:type" content="{% block fb_type %}{% endblock %}" />
        <meta property="og:image" content="{% current_site_url %}{% block fb_image %}{% endblock %}" />
        <meta property="og:url" content="{% current_site_url %}{% block fb_url %}{% url 'home' %}{% endblock %}" />
        <meta property="og:description" content="{% block fb_description %}{% endblock %}" />

        <title>{% block pagetitle %}{% endblock %} | site name</title>

        {% comment %}
            
            This is a minified version of Modernizr with just the following:
                * HTML5Shim
                * Moderizr.load(yepnope.js)
                * CSSClasses
            
            For a more comprehensive build of Modernizr download a custom build 
            to the needs of the project from http://www.modernizr.com/download/
            
        {% endcomment %}
        <!-- Modernizr -->
        <script src="{{ STATIC_URL }}javascripts/libs/modernizr.js"></script>
        
        <!-- Stylesheets -->
        <link href="{{ STATIC_URL }}stylesheets/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}stylesheets/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if lte IE 9]>
            <style type="text/css" media="screen">
                @import "{{ STATIC_URL }}stylesheets/stylesheets/ie.css";
            </style>
        <![endif]-->

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        {% comment %}
        
            Reference iOS Human Interface Guidelines for Sizes
            http://developer.apple.com/library/IOs/#documentation/UserExperience/Conceptual/MobileHIG/IconsImages/IconsImages.html
            
        {% endcomment %}
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png" />

        {% block additional_head_items %}{% endblock %}
    </head>
    <body id="{% block bodyid %}base{% endblock %}" class="{% block bodyclass %}base{% endblock %}">
        <div id="site-wrapper">

            {% block nav %}

                <header id="site-header">
                    <nav>
                        <ol>
                            {% include "_nav.html" %}
                        </ol>
                    </nav>
                    <a href="#site-footer" class="jump-to-nav">Nav</a>
                </header>
        
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
        
                <footer id="site-footer">
                    <nav>
                        <ol>
                            <li class="back-to-top">
                                <a href="#site-header">Back to Top</a>
                            </li>
                            {% include "_nav.html" %}
                        </ol>
                    </nav>
                </footer>

            {% endblock nav %}

        </div>
        
        {% block javascript %}
            <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}javascripts/libs/jquery.js"%3E%3C/script%3E'))</script>
        {% endblock %}

        <!-- asynchronous google analytics -->
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
