{% comment %} Load Current Site URL Template Tag from Robots App {% endcomment %}{% load current_site_url %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Character set -->
        <meta charset="utf-8" />

        <!-- Page Meta Data -->
        <meta name="author" content="" />
        <meta name="description" content="{% block metadescription %}{% endblock %}" />
        <meta name="keywords" content="{% block metakeywords %}{% endblock %}" />
        
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width; initial-scale=1" /> 

        <!-- Facebook Meta Data -->
        {% comment %}
            
            Facebook Graph API 
            https://developers.facebook.com/docs/opengraph/objects/builtin/
            
            Debug
            https://developers.facebook.com/tools/debug
            
        {% endcomment %}
        <meta property="og:site_name" content="" />
        <meta property="fb:admins" content="" />
        <meta property="og:title" content="{% block fb_title %}{% endblock %}" />
        <meta property="og:type" content="{% block fb_type %}{% endblock %}" />
        <meta property="og:image" content="{% current_site_url %}{% block fb_image %}{% endblock %}" />
        <meta property="og:url" content="{% current_site_url %}{% block fb_url %}{% url 'home' %}{% endblock %}" />
        <meta property="og:description" content="{% block fb_description %}{% endblock %}" />

        <title>{% block pagetitle %}{% endblock %} | site name</title>

        {% comment %}
            
            This is a minified version of Modernizr with just the following:
                * HTML5Shim
                * Moderizr.load(yepnope.js)
                * CSSClasses
            
            For a more comprehensive build of Modernizr download a custom build 
            to the needs of the project from http://www.modernizr.com/download/
            
        {% endcomment %}
        <!-- Modernizr -->
        <script src="{{ STATIC_URL }}javascripts/libs/modernizr.js"></script>
        
        <!-- Stylesheets -->
        <link href="{{ STATIC_URL }}stylesheets/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}stylesheets/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if lte IE 9]>
            <style type="text/css" media="screen">
                @import "{{ STATIC_URL }}stylesheets/stylesheets/ie.css";
            </style>
        <![endif]-->

        <!-- Favicon -->
        {% comment %}
        
            For theory, reference: 
            
            _Understand the Favicon_ by Jonathan T. Neal
            http://www.jonathantneal.com/blog/understand-the-favicon/
            
            _The State of Favicons_ by Chris Coyier
            http://css-tricks.com/video-screencasts/122-the-state-of-favicons/
            
            _Everything you always wanted to know about touch icons._ by Mathias Bynens
            http://mathiasbynens.be/notes/touch-icons
        
            ---
            
            For Apple:
            
            * apple-touch-icon-152x152-precomposed.png should be a 152x152 PNG for the iPad with high-resolution Retina display running iOS ≥ 7
            * apple-touch-icon-120x120-precomposed.png should be a 120x120 PNG for the iPhone with high-resolution Retina display running iOS ≥ 7
            * apple-touch-icon-76x76-precomposed.png should be a 76x76 PNG for the iPad mini and the first- and second-generation iPad on iOS ≥ 7
            * apple-touch-icon-precomposed.png should be a 57x57 PNG for non-Retina iPhone, iPod Touch, and Android 2.1+ devices
            
            Favicons:
            
            * favicon.png should be a 32x32 PNG on a solid color or transparent background
              (FYI, the article references 96x96 but this seems to be a typo)
            * favicon.ico should be a combination of 16x16 and 32x32 PNGs compiled into a .ico file 
              (use http://www.kodlian.com/apps/icon-slate to compile that .ico file)

            For Microsoft:
            
            * tileicon.png should be 144x144 PNG on a transparent background
            * a background tile color can be specified using a hex RGB color (e.g. #RRGGBB)
            
        {% endcomment %}
        
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_URL }}apple-touch-icon-152x152-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ STATIC_URL }}apple-touch-icon-120x120-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ STATIC_URL }}apple-touch-icon-76x76-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}apple-touch-icon-precomposed.png">
        
        <link rel="icon" href="{{ STATIC_URL }}favicon.png">
        
        <!--[if IE]><link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico"><![endif]-->
        {# or, set /favicon.ico for IE10 win #}
        
        <meta name="msapplication-TileColor" content="#2b2b2b">
        <meta name="msapplication-TileImage" content="{{ STATIC_URL }}tileicon.png">

        {% block additional_head_items %}{% endblock %}
    </head>
    <body id="{% block bodyid %}base{% endblock %}" class="{% block bodyclass %}base{% endblock %}">
        <div id="site-wrapper">

            {% block nav %}

                <header id="site-header">
                    <nav>
                        <ol>
                            {% include "_nav.html" %}
                        </ol>
                    </nav>
                    <a href="#site-footer" class="jump-to-nav">Nav</a>
                </header>
        
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
        
                <footer id="site-footer">
                    <nav>
                        <ol>
                            <li class="back-to-top">
                                <a href="#site-header">Back to Top</a>
                            </li>
                            {% include "_nav.html" %}
                        </ol>
                    </nav>
                </footer>

            {% endblock nav %}

        </div>
        
        {% block javascript %}
            <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}javascripts/libs/jquery.js"%3E%3C/script%3E'))</script>
        {% endblock %}

        <!-- asynchronous google analytics -->
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
